$menuGreen: #50a187;
$menuGreen2: #4f967d;
$menuHoverGreen: #357d6c;
$menuBar: #8dbc9d;
$searchGradient1: #f3f6e6;
$searchGradient2: #eaeddd;
$lackOfWork: #dbe1bf;
$greyShadow: #d9dbcc;
$darkFont: #45494F;
$counter: #eaedd9;
$menuBorder: #a1d6be;
$orangeFont: #ff5a2c;
$blueBorder: #cbe3db;
$orangeGradient1: #fdb202;
$orangeGradient2: #fe7f02;
$darkOrange: #d67405;
$blueGreenFont: #508274;
$menuGradient1: #f6f8e7;
$menuGradient2: #eaecdd;
$bennerCommercial: #beded2;
$greenTxt: #59b296;

$backgroundWidth: 1180px;
$mainFrameWidth: 1000px;
$backgroundHeight: 1500px;
$leftContainer: 210px;
$rightContainer: ($mainFrameWidth) - ($leftContainer) - 20px;
$lowerMenuContainerWidth: 234px; 