@import 'colors-and-dimensions.scss';
@import '_header.scss';
@import '_left-content.scss';
@import '_right-content.scss';
@import '_lowerMenu.scss';

div.centerFrame {
	width: $backgroundWidth;
	margin: auto;
	div.background {
		padding-top: 5px;
		width: $backgroundWidth;
		float: left;
		background-image: url('../images/background.png');
		font-family: 'Ek Mukta', sans-serif;
		clear: both;
		div.mainFrame {
			background-color: #FFF;
			float: left;
			width: ($mainFrameWidth);
			padding: 20px;
			border-radius: 5px;
			margin-bottom: 100px;
			margin-left: 70px;
		}
	}
}	
